.DS_Store
node_modules
webhooks/**/lib
webhooks/**/dist
webhooks/**/.env
webhooks/**/.webpack
webhooks/**/yarn.lock
webhooks/**/.env.json
webhooks/**/.env.yaml
webhooks/**/*.tfstate
webhooks/**/.terraform
webhooks/**/*.tfstate.*
webhooks/**/.serverless
webhooks/**/node_modules
webhooks/**/*.private.json
webhooks/**/token.json
webhooks/**/credentials.json
webhooks/**/package-lock.json
webhooks/**/local.settings.json
webhooks/**/.terraform.lock.hcl
webhooks/**/terraform/config/*.tfvars
!webhooks/**/terraform/config/example.tfvars
webhooks/**/secrets
webhooks/**/*.pem